<div id="image_container" class="cf">
  <form action="/images" method="get">
    <input type="text" name="input_image">
    <button>Return</button>
  </form>
  <div id="image">
    <%  if !params["input_image"].nil? %>
    <img src='<%= @image %>'/>
    <%  end %>
  </div>
</div>

