<!doctype html>
<html lang="en">
<head>
    <title>Tom's Ruby Gem Playground Using Sinatra</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<!--Challenge:  Write Ruby code to such that an asteric '*' is added to the nav bar for the page that is currently being viewed.-->

  <div id="navigation_bar" class="cf">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/images">Images</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/stocks">Stocks</a></li>
    </ul>
  </div>


<%= yield %>


</body>
</html>