
html {
  background: url('images/playground.jpg') no-repeat center center fixed;
  background-size: cover;
}

#navigation_bar {
  background: rgba(0, 0, 0, 0.59);
  width: 1000px;
  margin: 20px auto 20px auto;
  border-radius: 5px;
}

#navigation_bar ul{
  color: white;
  list-style-type: none;
  margin:0 auto;
  width:400px;
  font-size: 20px;
}

#navigation_bar li {
  float:left;
  text-align: center;
}

#navigation_bar a {
  color:#fff;
  display:inline-block;
  padding:10px 0;
  float:left;
  width:100px;
  text-decoration: none;
  font-family: Tahoma, Geneva, sans-serif;
}

#container {
  background: rgba(0, 0, 0, 0.59);
  width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

h1 {
  text-align: right;
  color: white;
  font-size: 80px;
  padding: 20px;
  margin: 0px 20px -10px 0px;
}

h2 {
  color: white;
  font-size: 50px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  padding: 20px;
  /*margin: -30px 20px -20px 0px;*/
}

#container p {
  color: white;
  font-size: 15px;
  text-align: justify;
  padding: 20px;
  margin: -30px 20px 0px 20px;
  font-family: Helvetica;
}

#container p:last-child {
  margin-bottom: 20px;
}

#other_container {
  background: rgba(0, 0, 0, 0.59);
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

#stocks  {
  color: white;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;

  margin: 0px 10px 5px 0;
}

form {
  padding: 20px;
  margin: 10px 0 0 10px;
}

#movie_container {
  background: rgba(0, 0, 0, 0.59);
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}
#movie_container p {
  color: white;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  text-decoration: none;
  margin: -5px 0 -5px 0;
}
#movie_container li {
  font-size: 15px;
  text-decoration: none;
  color: white;
}
#image_container {
  background: rgba(0, 0, 0, 0.59);
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}
#image_container img {
  display: inline;
  margin: 0 5px 20px 0;

  max-width:90%;
}

